.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.h2 {
    text-align: center;
    color: rgba(32, 32, 72, 0.8);
    margin-bottom: 0;
    font-family: 'Solway', serif;
}

.p {
    font-family: 'sylfaen', serif;
    color: rgb(75, 74, 74);
}

.p a {
    font-family: 'Solway', serif;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputItem {
    border: 0;
    outline: 0;
    padding: 10px 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(134, 134, 175, 0.2);
}

.inputItem:focus {
    border-bottom: 2px solid rgba(8, 8, 44, 0.2);
}

.inputItem[type="submit"] {
    cursor: pointer;
    background-color: teal;
    color: white;
    width: 100%;
    margin-top: 15px;
    font-family: 'Solway', serif;
}

.inputItem[type="submit"]:hover {
    background-color: rgb(2, 146, 146);
}
